[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"
flask-cors = "*"
flask-praetorian = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
